.editEventWindow {
    width: 300px;
    margin-top: 10px;
}

.viewEventWindow {
    margin-top: 10px;
}

.viewEventWindow p {
    font-size: 16px;
}

#item-content {
    margin-left: 10px;
}

ul {
    padding-left: 0;
}